config/*.sphinx.conf
config/sphinx.yml
db/sphinx
db/sphinx/*
log/searchd.*
public/system
public/system/*
.DS_Store
config/database.yml
config/ultrasphinx/development.conf
config/ultrasphinx/test.conf
config/settings.yml
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*  
test/*
test/**/*
config/private_configuration/**/*
coverage/**/*
