<html>
<head>
<title>Saideep's Personal Page</title>
<%= stylesheet_link_tag "styles.css" %>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- ImageReady Preload Script (index.psd) -->
<script type="text/javascript">
<!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImages() {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<changeImages.arguments.length; i+=2) {
			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
		}
	}
}

var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		about_me_over = newImage("/images/about-me-over.jpg");
		my_family___friends_over = newImage("/images/my-family-%26-friends-over.jpg");
		my_photo_gallery_over = newImage("/images/my-photo-gallery-over.jpg");
		contact_me_over = newImage("/images/contact-me-over.jpg");
		preloadFlag = true;
	}
}

// -->
</script>
<!-- End Preload Script -->
</head>
<link href="css/styles.css" rel="stylesheet" type="text/css">
<center>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="preloadImages();">
<!-- ImageReady Slices (index.psd) -->
<table id="Table_01" width="776" height="681" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<a href="#"
				onmouseover="window.status='about me'; changeImages('about_me', '/images/about-me-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('about_me', '/images/about-me.jpg'); return true;"
				onmousedown="changeImages('about_me', '/images/about-me-over.jpg'); return true;"
				onmouseup="changeImages('about_me', '/images/about-me-over.jpg'); return true;">
				<img name="about_me" src="/images/about-me.jpg" width="222" height="62" border="0" alt="about me"></a></td>
		<td colspan="4">
			<img src="/images/m1.jpg" width="92" height="62" alt=""></td>
		<td colspan="4" rowspan="4">
			<img src="/images/m4.jpg" width="461" height="218" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="62" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="#"
				onmouseover="window.status='my family & friends'; changeImages('my_family___friends', '/images/my-family-%26-friends-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('my_family___friends', '/images/my-family-%26-friends.jpg'); return true;"
				onmousedown="changeImages('my_family___friends', '/images/my-family-%26-friends-over.jpg'); return true;"
				onmouseup="changeImages('my_family___friends', '/images/my-family-%26-friends-over.jpg'); return true;">
				<img name="my_family___friends" src="/images/my-family-%26-friends.jpg" width="270" height="48" border="0" alt="my family &#38; friends"></a></td>
		<td colspan="3">
			<img src="/images/m2.jpg" width="44" height="48" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="48" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<a href="#"
				onmouseover="window.status='my photo gallery'; changeImages('my_photo_gallery', '/images/my-photo-gallery-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('my_photo_gallery', '/images/my-photo-gallery.jpg'); return true;"
				onmousedown="changeImages('my_photo_gallery', '/images/my-photo-gallery-over.jpg'); return true;"
				onmouseup="changeImages('my_photo_gallery', '/images/my-photo-gallery-over.jpg'); return true;">
				<img name="my_photo_gallery" src="/images/my-photo-gallery.jpg" width="293" height="53" border="0" alt="my photo gallery"></a></td>
		<td>
			<img src="/images/m3.jpg" width="21" height="53" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="53" alt=""></td>
	</tr>
	<tr>
		<td colspan="6">
			<a href="#"
				onmouseover="window.status='contact me'; changeImages('contact_me', '/images/contact-me-over.jpg'); return true;"
				onmouseout="window.status=''; changeImages('contact_me', '/images/contact-me.jpg'); return true;"
				onmousedown="changeImages('contact_me', '/images/contact-me-over.jpg'); return true;"
				onmouseup="changeImages('contact_me', '/images/contact-me-over.jpg'); return true;">
				<img name="contact_me" src="/images/contact-me.jpg" width="314" height="55" border="0" alt="contact me"></a></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="55" alt=""></td>
	</tr>
	<tr>
		<td colspan="10">
			<img src="/images/m5.jpg" width="775" height="189" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="189" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="/images/ab1.jpg" width="75" height="206" alt=""></td>
		<td colspan="7" align="left" valign="top">
			<img src="/images/ab2.jpg" width="435" height="25" alt=""></td>
		<td rowspan="2" align="left" valign="top"><p><span class="text1">At vero eos et accusam</span><br>
		  <br>
		  Consetetur sadi pscing elitr, sed diam nonumy Erat, sed diam voluptua. At vero eos et Consetetur sadi pscing elitr, sed diam nonumy At vero eos et Consetetur sadi pscing elitr, sed diam nonumy Erat, sed diam voluptua. At vero eos et <a href="#" class="a">more</a></p>
	    </td>
		<td rowspan="2">
			<img src="/images/gal1.jpg" width="59" height="106" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="2" align="left" valign="top"><p><span class="text1">At vero eos et accusam et justo duo</span><br>
		  <br>
		  Consetetur sadi pscing elitr, sed diam nonumy Erat, sed diam voluptua. At vero eos et Consetetur sadi pscing elitr, sed diam nonumy At vero eos et Consetetur sadi pscing elitr, sed diam nonumy Erat, sed diam voluptua. At vero eos et<br>
		  <br>
		  dolores et ea consetetur sadi pscing elitr, sed diam nonumy eirmod Erat, sed diam voluptua. Erat, sed diam voluptua. At vero eos et  <a href="#" class="a">more</a></p>
	    </td>
		<td rowspan="2" align="left" valign="top">
			<img src="/images/ab3.jpg" width="21" height="181" alt=""></td>
		<td colspan="3" rowspan="2" align="left" valign="top"><p><span class="text1">At vero eos et accusam</span><br>
		  <br>
		  Consetetur sadi pscing elitr, sed diam nonumy Erat, sed diam voluptua. At vero eos et Consetetur sadi pscing elitr, sed diam nonumy At vero eos et Consetetur sadi pscing elitr, sed diam nonumy Erat, sed diam voluptua. At vero eos et<br>
		  <br>
		  dolores et ea consetetur sadi pscing elitr, sed diam nonumy eirmod Erat, sed diam voluptua. Erat, sed diam voluptua. At vero eos et  <a href="#" class="a">more</a></p>
	    </td>
		<td rowspan="2" align="left" valign="top">
			<img src="/images/fam.jpg" width="24" height="181" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="81" alt=""></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="/images/gal2.jpg" width="265" height="100" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="100" alt=""></td>
	</tr>
	<tr>
		<td colspan="10">
			<img src="/images/dn1.jpg" width="775" height="13" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/dn2.jpg" width="75" height="54" alt=""></td>
		<td colspan="9" align="left" valign="top" background="/images/b_links.jpg" class="text2">
		    <a href="#">Home</a> | <a href="#">About Me</a> | <a href="#">Family</a> | <a href="#">Gallery</a> | <a href="#">News</a> | <a href="#">Contact</a><br>
	      Copyright &copy; Your Company Name<br>
designed by <a href="http://www.templatesbox.com" target="_blank" class="text3">Templatesbox</a><br></td>
		<td>
			<img src="/images/spacer.gif" width="1" height="54" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="/images/spacer.gif" width="75" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="147" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="48" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="21" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="2" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="21" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="172" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="24" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="206" height="1" alt=""></td>
		<td>
			<img src="/images/spacer.gif" width="59" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
</body>
</center>
</html>